body{
    background-image: url(../images/bicixula2.jpg);
}
.navbarContent a{
    text-decoration: none;
    color: #4EA7D4;
}

.navbar{
    opacity: 0.8;
    border-bottom: 3px solid #4EA7D4;
}
.navbar-brand img{
    height: 50px;
}

@media (min-width: 370px) and (max-width: 1024px){
    .navbar-brand img{
        height: 30px;
    }  
}

.navbar-toggler{
    border: none;
}

.mainBodyCont{
    margin-top: 50px;
    border: solid 2px #4EA7D4;
    border-radius: 20px;
    background-color: #F6FCFC;
    opacity: 0.9;
}

.textContainer{
    margin-top: 20px;
    padding: 20px;
    opacity: 0.8;
}

hr{
    color: white;
}

img {
    height: auto;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

p{
    text-align: justify;
}

.btn-info:not(.workshop){
    margin-top: 5px;
    border:1px solid white;
    border-radius: 20px;
    color: white;
}

.btn-success:not(.workshop){
    margin-top: 5px;
    border:1px solid white;
    border-radius: 20px;
    color: white;
}

.btn-danger:not(.delete){
    border:1px solid white;
    border-radius: 20px;
    color: white !important;
}