body{
    background-image: url(../images/bicixula2.jpg);
}

/*NAVBAR CONTENTS!*/
.navbarContent a:not(.btn-info){
    text-decoration: none;
    color: #4EA7D4;
}

.navbar{
    opacity: 0.8;
    border-bottom: 3px solid #4EA7D4;
}
.navbar-brand img{
    height: 50px;
}

@media (min-width: 370px) and (max-width: 1024px){
    .navbar-brand img{
        height: 30px;
    }  
}

.navbar-toggler{
    border: none;
}

hr{
    color: #4EA7D4;
}

img {
    height: auto;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

.bodyContents{
    margin-top: 50px;
    border: solid 2px #4EA7D4;
    border-radius: 20px;
    background-color: #F6FCFC;
    opacity: 0.9;
}

.btn-info:not(.workshop){
    border:1px solid white;
    border-radius: 20px;
    color: white;
}

.btn-danger:not(.delete){
    border:1px solid white;
    border-radius: 20px;
    color: white !important;
}

.btn-group a{
    border-radius: 20px;
    color: white;
}

td, th{
    text-align: center;
}

h1{
    font-weight: 500;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

table{
    border: 2px solid #4EA7D4;
}